
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Msomi Chat Module</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container" style="margin-top: 15vh;">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">
                           <center><b><h2> Chat Row</h2></b></center>
                        </div>
                            <div class="card-body">   
                              <i><h3 style="color:#ccc; font-size: 30px;">No message yet..</h3></i>
                              <div class="message_holder"></div>
                            </div>
                             <div class="card-footer">
                                    <form action="" method="POST">
                                            <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Handle</span>
                                              </div>
                                            <input type="text" class="form-control input-group-sm username" placeholder="User Name"/>
                                            <input type="text" class="form-control message" placeholder="Messages"/>
                                            <input class="btn btn-success" type="submit"/>
                                            </div>
                                    </form>
                             </div>
                             
                           
                          </div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>